@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
:root{
    --very-pale-blue:  hsl(193, 100%, 96%);
    --very-Dark-Cyan: hsl(192, 100%, 9%);
    --grayish-Blue: hsl(208, 11%, 55%);
    --pink: hsl(322, 100%, 66%);
    --hover-pink:  hsl(322, 100%, 78%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    min-width: 375px;
    margin: auto;
}
.perk-con img ,.hero-img{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
h1{
    font-size: 2rem;
}
h1,h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.btn{
    width: 150px;
    padding: .625rem 0 ;
    border-radius: 1.5rem;
    border: none;
    outline: transparent;
    background: var(--pink);
    color: #fff;
    font-weight: 700;
    box-shadow: 1px 6px 20px #89898959;
    cursor: pointer;
}
.btn:hover{
    background: var(--hover-pink);
}

.shadow{
    box-shadow: 1px 6px 20px #89898959;
}
/* header */
.header{
    justify-content: space-between;
    margin:0 0  7rem;
    padding: 1rem;
}
.hero-sec{
    padding: 1rem;
    background: url(../images/bg-hero-mobile.svg) center/cover no-repeat, var(--very-pale-blue);
}
.header .btn{
    background: #fff;
    color: var(--very-Dark-Cyan);
}
.header .btn:hover{
    color: var(--grayish-Blue);
}

.header img{
    width: 170px;
    object-fit: contain;
}

.hero p{
    margin: 2rem 0 ;
}

.hero-btn{
    margin-bottom: 2rem;
    width: 80%;
    padding: 1rem;
}

/* perk section */

.perk , .apply{
    margin: 2rem 1rem ;
    box-shadow: 1px 3px 50px rgba(175, 175, 175, 0.359);
    border-radius: 1rem;
}
.perk img{
    padding:3.5rem 3rem;
}
.perk p{
    margin: 2rem;
}
.apply h2{
    margin: 1.5rem 0;
}
.apply{
    padding: 3rem 1rem;
    transform: translateY(50%);
    background-color: #fff;
    box-shadow: 0 -10px 20px rgba(175, 175, 175, 0.359);
}
.perk-btn{
    width: 70%;
    padding: 1rem;
}
.perk p{
    color: var(--grayish-Blue) 
}

/* footer */

footer{
    background-color: var(--very-Dark-Cyan);
    text-align: left;
    padding: 12rem 1rem 2rem;
    color: #fff;
}

.footerLogo{
    width: 200px !important;
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(340deg) brightness(104%) contrast(107%);
    margin-bottom: 1.5rem;
}

.contact{
    text-align: center;
}
.r1{
    text-align: inherit;
    margin-bottom: 2rem;
}
.fa-brands{ 
    font-size: 1.3rem;
    color: #fff;
    border: 1.5px solid #fff;
    padding: 10px;
    border-radius: 100%;
    margin: 0 1rem;
}
.fa-brands:hover{
    color: var(--pink);
    border-color: var(--pink);
}
.fa-facebook-f{
    padding: 10px 14px ;
}
.fa-instagram{
    padding: 10px 12px ;
}
footer a{
    text-decoration: none;
    color: inherit;
    padding: .625rem 0 ;
    font-size: 20px;
}
footer a:hover{
    text-decoration: underline;
}
.access{
    flex-direction: column;
    margin: 1rem 0 ;
}
.address  img{
    width: 20px;
    object-fit: contain;
}
.content{
    width: 87%;
    margin-left: 5%;
}
.address div:nth-child(3){

    margin: 1.5rem 0 ;
}

.address ~ div{
    margin: 2rem 0 ;
}

@media only screen and (min-width: 720px){
    .container{
        width: 900px;
    }
}